
* {
    padding: 0;
    margin: 0;
}
.top {
    background-color: #d8eaff;
    height: 60px;
    padding: 20px 30px;
    z-index: 10;
}
.top ul {
    position: absolute;
    top: 40px;
    right: 4vw;
}
h1, .top a {
    color: #1f1e33;
    text-decoration: none;
}
h1{
    position: absolute;
    top: 30px;
    left: 1.5vw;
}
.top a:hover{
    text-decoration: underline;
}
.top li{
    display: inline;
    margin-right: 4vw;
}
/*border 外边框 padding 内 margin 外间距*/
.Home {
    height: 70vh;
}
.HelloText {
    
}

.About {
    background-color: rgb(250, 250, 231);
    border: 1px #ecece9 solid;
    padding: 20px;
}   
header {
    background-image: url("Image/moon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px;
    height: 95vh;
    z-index: -1;
}   
